doctype html
html(lang="en")
  head
    title=`user ${user.name.full}`

  body
    p
      a(href='/') back to users

    h1= user.name.full

    div
      img(src=`/profilepics/${user.username}_lg.jpg`)

      p
        button(onclick="edit()") Edit
        = ' '
        button(onclick="del()") Delete

    address
      for key in Object.keys(address)
        dl
          dt= key
          dd.view= address[key]
          dd.edit
            input(id=key, type="text", value=address[key])

    .edit
      button(onclick="save()") save
      = ' '
      button(onclick="cancel()") cancel

script.
  const views = [...document.querySelectorAll('.view')];
  const edits = [...document.querySelectorAll('.edit')];

  const hideElem = elem => elem.style.display = 'none';
  const showElem = elem => elem.style.display = 'inherit';

  const edit = () => {
    views.map(v => hideElem(v));
    edits.map(v => showElem(v));
  }

  const cancel = () => {
    views.map(v => showElem(v));
    edits.map(v => hideElem(v));
  }

  const getFormField = id => document.getElementById(id).value;

  // save this user
  const save = () => {
    const body = JSON.stringify({
        street: getFormField('street'),
        city: getFormField('city'),
        state: getFormField('state'),
       zip: getFormField('zip'),
     });

    // PUT the body of the form updates to the same location on the server
    fetch("/#{user.username}", {
      headers: {
        // notify the server of the type of content we are sending through
        'Content-Type': 'application/json',
      },
      method: 'PUT',
      body,
    }).then(res => {
        // when the request succeeds (we should check for 200) hide the form
        // inputs, and reload the page
        // New data will reflect
        cancel();
        location.reload();
      })
  }

  // make a request to delete the user
  const del = () => {
    // issue a DELETE request to this user's page
    fetch("/#{user.username}", {method: 'DELETE' })
      .then(res => {
        // when we get a success response, redirect the client to the index
        location.replace('/');
      })
  }

  cancel();
